<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPH7eJxHuCr7pO5EKz_4egqZ1dCEXxsx8</string>
	<key>GCM_SENDER_ID</key>
	<string>96516272822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.innogeeksApp</string>
	<key>PROJECT_ID</key>
	<string>innogeeks-app</string>
	<key>STORAGE_BUCKET</key>
	<string>innogeeks-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96516272822:ios:0b31133dd3b7e580772c17</string>
</dict>
</plist>